{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>WhichCameratobuy</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Adding my css file & bootstrap/jquery -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/poer.js/1.14.7/umd/poer.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


  
  <!-- Adding fontawsome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
    integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

      <!-- Adding vueJS -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>
<script>
  /*
$(document).ready(function(){
  $('[data-toggle="tooltip"]').tooltip();
});
*/
</script>
<style>
#logo {
    height: 42px;
}
body {
  background-color: whitesmoke;
}
#IMG {
  width: 80px;
  height: auto;
} 
.pp {
  padding-left: 45px !important;
}
.other-pp {
  padding-left: 13px !important;
}
.another-pp {
  padding-left: 26px !important;
}
.form {
  padding-top: 150px;
}
.another1-pp {
  padding-left: px !important;
}
td {
  font-size: small;
}
</style>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <img id="logo" src="{% static 'images/logo.png' %}">
     </div>
  </nav>

  <div class="form container-fluid ">
         
    <table class="table table-hover">
      <thead>
        <tr class="row">
          <th class="col another-pp" >Name</th>
          <th class="col another-pp" >Picture</th>
          <th class="col another-pp" >Max resolution</th>
          <th class="col another-pp" >Video resolution</th>
          <th class="col another-pp" >Style</th>    
          <th class="col another-pp" >Continuous shooting speed</th>
          <th class="col another-pp" >Focus type</th>
          <th class="col another-pp" >Wireless communication </th> 
          <th class="col another-pp" >Price</th>
          <th class="col-sm-2 col-lg-2 col-md-2 pp" >Purchase</th>
        </tr>
      </thead> 
      <tbody>
        {% for product in products %} 

      </hr>
       
        <tr class="row" >
          <td class="col other-pp "> {{product.Name}} </td>
          <td class="col other-pp "><img id="IMG" src="{{ product.Image_Link }}" alt="product image" ></td> 
          <td class="col other-pp "> {{product.Max_resolution}} </td>
          <td class="col other-pp "> {{product.Video_resolution}} </td>
          <td class="col other-pp "> {{product.Style}} </td>
          <td class="col other-pp "> {{product.Continuous_shooting}} </td>
          <td class="col other-pp "> {{product.Focus_type}} </td>
          <td class="col other-pp "> {{product.Wireless_communication_technology}} </td> 
          <td class="col another-pp ">	&nbsp; &nbsp; &nbsp;{{product.Price}}$ </td>
   <span class="" > <th class="col-sm-2 col-lg-2 col-md-2 pp"> <a class="btn btn-success" href="{{product.Link}}">Buy now</a> </th> </span> 
        </tr>
        {% endfor %}

      </tbody>
    </table>
  </div>



</body>