{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>WhichCameratobuy</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Adding my css file & bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}">


  
  <!-- Adding fontawsome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
    integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

      <!-- Adding vueJS -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>
<style>
#logo {
    height: 42px;
}
body {
  background-color: whitesmoke;
}
#IMG {
  width: 80px;
  height: auto;
} 
.container {
  padding-top: 150px;

}

</style>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <img id="logo" src="{% static 'images/logo.png' %}">
     </div>
  </nav>

  <div class="container ">
         
    <table class="table table-hover">
      <thead>
        <tr class="row">
          <th class="col-md-1" >Name</th>
          <th class="col " >Picture</th>
          <th class="col-md-1" >Max resolution</th>
          <th class="col-md-1" >Video resolution</th>
          <th class="col-md-1" >Screen size</th>
          <th class="col-md-1" >Style</th>    
          <th class="col-md-1" >Continuous shooting speed</th>
          <th class="col-md-1" >Optical zoom</th>
          <th class="col-md-1" >Focus type</th>
          <th class="col-md-1" >Wireless communication technology</th>
          <th class="col-md-1" >Price</th>
          <th class="col-md-1" >Purchase</th>
        </tr>
      </thead> 
      <tbody>
        {% for product in products %}
      </hr>
       
        <tr class="row">
          <td class="col-md-1"> {{product.Name}} </td>
          <td class="col-md-1"><img id="IMG" src="{{ product.Image.url }}" alt="product image" ></td> 
          <td class="col-md-1"> {{product.Max_resolution}} </td>
          <td class="col-md-1"> {{product.Video_resolution}} </td>
          <td class="col-md-1"> {{product.Screen_size}} </td>
          <td class="col-md-1"> {{product.Style}} </td>
          <td class="col-md-1"> {{product.Continuous_shooting}} </td>
          <td class="col-md-1"> {{product.Optical_zoom}} </td>
          <td class="col-md-1"> {{product.Focus_type}} </td>
          <td class="col-md-1"> {{product.Wireless_communication_technology}} </td>
          <td class="col-md-1"> {{product.Price}} </td>
          <th class="col-md-1"> <a href="{{product.Link}}">Buy now</a> </th>
        </tr>
        {% endfor %}


      </tbody>
    </table>
  </div>
  


</body>