{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>WhichCameratobuy</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Adding my css file & bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}">

  
  <!-- Adding fontawsome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
    integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

      <!-- Adding vueJS -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>

<body>

  <div class="container">
         
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Product Details</th>
          <th>Price</th>
          <th>Link</th>
        
        </tr>
      </thead>
      <tbody>
        <tr>
          <td> </td>
          <td> 
            <ul>
              <li>Fire TV Edition brings together live-over-the air TV and your streaming content on the home screen. Connect any HD antenna (sold separately) to watch live over-the-air TV or stream movies and shows from Disney+, Netflix, YouTube, Prime Video, Hulu, HBO and more.</li>
              <li>Experience breathtaking 4K Ultra HD picture quality with over 8 million pixels for stunning clarity, deep contrast and vivid colors.</li>
              <li>Watch movies and TV shows come to life in ultra high deﬁnition. Everything you’d expect from a remote – plus launch apps, search for TV shows, switch inputs, control smart home devices and more, using just your voice</li>
              <li> With Prime Video, Netflix and HBO buttons, instantly access your favorite apps</li>
              <li>This TV is smart and simple in every way. Just plug it in, connect to Wi-Fi and enjoy. Plus, your TV keeps getting smarter with new Alexa skills and features through automatic over-the-air software updates, so that you always have the latest.</li>
              <li>Watch over 500,000 streaming movies and TV episodes in HD or Ultra HD, from Disney+, Netflix, Prime Video, YouTube, Hulu, HBO, and more.</li>
              <li>Plus, access tens of thousands of channels, apps, and Alexa skills.</li>
            </ul>
             </td>
          <td>  </td>
          <th> <a> </a> </th>
        </tr>
 

      </tbody>
    </table>
  </div>
  


</body>